.message {
  min-height: 20px;
  border-radius: 4px;
  text-align: initial;
  overflow: auto;
  padding: 2px;
}

.message > div {
  max-width: 90%;
  min-width: 20%;
  width: fit-content;
  border-radius: 8px;
  padding: 5px;
}

.my-message {
  float: right;
  background-color: green;
}

.other-message {
  background-color: grey;
}

.message-content {
  line-break: auto;
  word-break: keep-all;
}

.message-time {
  float: right;
  margin-left: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
}